# Spotify Credentials
# Obtenlas en https://developer.spotify.com/dashboard
SPOTIPY_CLIENT_ID=tu_client_id_aqui
SPOTIPY_CLIENT_SECRET=tu_client_secret_aqui
SPOTIPY_REDIRECT_URI=http://localhost:8888/callback

# iPod Connection (Wi-Fi)
IPOD_IP=192.168.1.X
IPOD_USER=root
IPOD_PASSWORD=alpine

# iPod Destination Paths for VLC
# Normalmente es /var/mobile/Containers/Data/Application/<VLC-UUID>/Documents
IPOD_SONGS_PATH=/var/mobile/Containers/Data/Application/VLC-APP-UUID/Documents/Songs
IPOD_PLAYLISTS_PATH=/var/mobile/Containers/Data/Application/VLC-APP-UUID/Documents/Playlists
